import nltk
import json
import pickle
import warnings
import numpy 
import tensorflow 
import random
import tkinter
import matplotlib.pyplot 
import sqlite3
import subprocess
import tkinter
imporrt PIL 
import sqlite3
import Workbook
import ThemedTk
import json
import pickle
import subprocess
import pyttsx3
import speech_recognition 
import colorama
import tkinter 
import Image, ImageTk
import random
import threading
import socket
import database
import threading
